<!--
Copyright 2017 Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License").
You may not use this file except in compliance with the License.
A copy of the License is located at

http://aws.amazon.com/apache2.0/
-->

  <!-- They are logged in, so let them post, delete a post, delete their account, or logout -->

  <div id="login" class="login">

    <p>
      <form action="/post" method="POST">
        <input maxlength=140 type="text" name="message">
        <br>
        <br>
        <input type="submit" value="Post message"/>
      </form>
    </p>

    <table class="posts">
      <colgroup>
        <col style="width: 33%" />
        <col style="width: 33%" />
        <col style="width: 33%" />
      </colgroup>
      <tr>
        <td>
          <form action="/delete" method="POST">
            <input type="hidden" id="message_id" value="" name ="message_value" />
            <br>
            <br>
            <input type="submit" value="Delete message"/>
          </form>
        </td>
        <td>
          <form action="/logout" method="POST">
            <br>
            <br>
            <input type="submit" value="Logout"/>
          </form>
        </td>
        <td>
          <form action="/unregister" method="POST">
            <br>
            <br>
            <input type="submit" value="Unregister"/>
          </form>
        </td>
      </tr>
    </table>

  </div>